
html,
body {

    height: 100%;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
   font-family: "DM Sans", sans-serif;
   overflow-x: hidden;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color:#fff;
}

.container {
    max-width: 1105px;
    margin: 0 auto;
    padding: 0 15px;
}


/* HEADER */

.header {
    background: linear-gradient(to bottom right, #333333, #000000);
    border-bottom-right-radius: 280px;
    height: 730px;
    position: relative;
    padding-bottom: 100px; 
}




.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0 100px 0; 
    margin-bottom: 100px;
}

.menu_list {
    display: flex;
    justify-content: center;
    gap:35px;
}

.menu_list-link {
    font-size: 16px;
    color: #ffffff;
}

.header_main-info {
margin-bottom: 100px;
}

.header_main-inner {
    display: flex;
    justify-content: space-between;
    align-items:center;
}


.header_main-info-title {
    color:#fff;
    font-size: 48px;
    margin-bottom: 50px;
}

.header_main-text {
    color:#fff;
    font-size: 24px;
    margin-bottom: 50px;
}

.header_main-button {
    background-color: #fff;
    max-width: 229px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 20px;
    border-radius: 50px;
    height: 64px;
    cursor: pointer;
    
}

.header_main_btn-text {
    font-size: 23px;
    color:#000;
    margin-left: 5px;
}


.header_main-img {
    position: relative;
    width: auto; 
    height: auto; 
}

.header_main_images-top {
    z-index: 1;
    position: absolute;
    bottom: 150px;
    right: -100px;
    pointer-events: none; 
}

.header_main-images {
    position: relative;
    z-index: 999;
}

.menu-burger {
    display: none;
    position: absolute;
    width: 30px;
    height:30px;
    background-color: transparent;
    order:1;
    right: 20px;
    cursor: pointer;
   }

   .menu-burger span {
    width:100%;
    height: 2px;
    background-color: #fff;
    top:6px;
    position: absolute;
   }
   
   .menu-burger::before,
   .menu-burger::after {
    content: "";
    position: absolute;
    background-color: #fff;
    width:100%;
    height: 2px;
   }

   .menu-burger::before {
    top:22px;
   }
   
   .menu-burger::after {
    bottom:14px;
   }
   .header_main-mobile {
    display: none;
   }
/* PROBLEM */

.problem {
    padding-top: 150px;
    padding: 100px 0 130px 0;
}

.problem_title {
text-align: center;
font-size: 18px;
color: #333333;
padding: 0 0 40px 0;
text-transform: uppercase;
font-family: "DM Sans", sans-serif;

}

.problem_text {
    text-align: center;
    font-size: 32px;
    color:000;
    font-family: "DM Sans", sans-serif;
    max-width: 457px;
    margin: 0 auto;
    margin-bottom: 60px;
    font-weight: bold;
}


.problem_inner {
    display: flex;
    justify-content: space-between;
    align-items:center;
    gap:40px;
}

.problem_item {
    max-width: 345px;
    text-align: center;
}

.problem_item-img {
    margin-bottom: 30px;
}

.problem_item-title {
    color: #333333;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 40px;
}

.problem_item-text {
    font-size: 16px;
    line-height: 28px;
    color: #343D48;
}


/* STAGES */



.stages {
    background: linear-gradient(to bottom right, #333333, #000000);
    border-bottom-right-radius: 280px;
    height: 730px;
    padding: 100px 0;  
    position: relative;
    padding-bottom: 700px
}

.stages_photo-title {
  margin-bottom: 50px;
  font-size: 32px;
  color:#fff;
}

.stages_info {
    display: block;
    justify-content: space-between;
    margin-bottom: -100px;
}

.stages_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.slide {
    display: none;
    max-width: 360px;
    margin: 0 auto;
    height: 200px;
}

.slide.active {
    display: block;
}

.arrow {
    margin-top: 100px;

}

.arrow span {
    display: block;
    cursor: pointer;
    padding: 100px 0;

}


.pagination {
}

.pagination .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    align-items:center;
    transition: width 0.3s ease, height 0.3s ease; /* добавлено переход для ширины и высоты */
}

.pagination .dot.active {
    position: relative;
    top:3px;
    width: 15px;
    height: 15px;
    align-items:center;
    background-color: #fff;
}


.stages_info-title {
    color:#fff;
    margin-bottom: 45px;
    font-size: 24px;
}

.stages_info-text {
    color:#fff;
    font-size: 16px;
    line-height: 24px;
    font-weight: medium;
}

.slide_items {
    display: flex;
    justify-content: space-between;
    align-items:center;
    gap:25px;
    margin-bottom: 50px;
}



.line {
        width: 4px; 
        height: 50px; 
        background-color: #D9D9D9; 
        margin: 0 auto; 
     
}


.mob {
    display: none;
}



/* ADVANTAGES */


.advantages {
    padding: 100px 0 70px 0;
}

.advantages_title {
    text-align: center;
    font-size: 36px;
    color: #000;
    font-weight: bold;
    margin-bottom: 70px;
}


.advantages_main-items {
    display: flex;
    align-items:center;
    gap:25px;
    margin-bottom: 20px;
}


.advantages-main_first {
    display: flex;
    justify-content: space-between;
    gap:35px;
}

.advantages-main_second {
    display: flex;
    justify-content: center;
    gap:35px;
    padding: 45px 0 0 0;
}

.advantages_inner {
    max-width: 345px;
}


.advantages_inner-title {
    color:#333333;
    font-size: 18px;
    font-weight: bold;
}

.advantages_inner-text {
    color:#343D48;
    font-size: 16px;
    line-height: 26px;
}


/* STACK */


.stack {
    background: linear-gradient(to bottom right, #333333, #000000);
    min-height: 390px;
    margin-bottom: 100px;
    padding: 0 0 100px 0;
    text-align: center;
}

.stack-title {
    font-size: 36px;
    font-weight: bold;
    color:#fff;
    text-align: center;
    padding: 100px 0 50px 0;
}

.stack_items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
    grid-gap: 30px;
    align-items:center;
}


/* CONTACT */

.contact {
    text-align: center;
    margin-bottom: 100px;
}

.contact_title {
    line-height: 24px;
    font-size: 36px;
    color:#000;
    font-weight: bold;
    margin-bottom: 60px;
}

.contact_input {
    width: 100%; 
    max-width: 535px; 
    display: block;
    margin: 0 auto;
    box-sizing: border-box; 
    margin-bottom: 20px;
    padding: 15px 20px;
    border: none; 
    border-bottom: 1px solid #333; 
}

.contact_input::placeholder {
    
    color:#333333;
    font-size: 18px;
    line-height: 24px;
}

.contact_main-button {
    background-color:#333333;
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    max-width: 155px;
    border-radius: 5px;
    padding: 10px 40px;
    position: relative;
    top:20px;
}

.contact_main_btn-text {
    line-height: 24px;
    font-size: 20px;
    color:#fff;
}

.contact_main-btn-img {
    position: relative;
    left: 10px;
}



/* FAQ */
.faq {
    background: linear-gradient(to bottom right, #333333, #000000);
    min-height: 583px;
    padding: 100px 0;
}

.faq_title {
    line-height: 24px;
    font-size: 36px;
    color: #fff;
    text-align: center;
    margin-bottom: 50px;
}

.faq-item {
    max-width: 535px;
    margin: 0 auto;
    background: rgba(51, 51, 51, 0.3);   
    margin-bottom: 20px;
    border-radius: 10px;
    border-bottom: 1px solid #fff;
    
}

.faq-header {
    cursor: pointer;
}

.faq-button {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 15px;
    border: none;
    background: none;
    text-align: left;
    font-size: 18px;
    outline: none;

}

.faq-icon {
    font-size: 24px;
}

.faq-body {
    color: #fff;
    line-height: 24px;
    font-size: 16px;
    margin-left: 20px;
    max-height: 0px;
    overflow: hidden;
    opacity: 0; /* Начальное значение нулевой прозрачности */
    transition: max-height 0.3s ease, opacity 0.3s ease; /* Добавляем transition для плавного эффекта */
    margin-bottom: 0; /* Подходящее значение для отступа */
    
}

.faq-body.active {
    max-height: 1000px; /* Высокое значение, чтобы показать весь текст */
    opacity: 1; /* Показываем текст при раскрытии */
    overflow: visible; /* Показываем контент */
    margin-bottom: 30px; /* Подходящее значение для отступа */
}


.faq-button span:first-child {
    line-height: 24px;
    font-size: 18px;
    color: #fff;


}



.faq-icon_img {
    transition: transform 0.3s ease;
}

.faq-button.active .faq-icon_img {
    transform: rotate(45deg);
}


/* FOOTER */

.footer {
    padding:50px 0;
}

.footer_items {
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.footer_item {
    display: flex;
    justify-content: center;
    gap:20px;
}

.footer_item-link {
    font-size: 16px;
    color:#333333;
}

@media(max-width:1100px) {
   .header_main-info-title {
    font-size: 38px;
   }
   .header_main-text {
    font-size: 18px;
   }
   .header_main-button {
    background-color: #fff;
    max-width: 190px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 15px;
    border-radius: 50px;
    height: 50px;
    cursor: pointer;
}

.header_main_btn-text {
    font-size: 18px;
    color:#000;
    margin-left: 5px;
}
.header_main-btn-img {
    width: 30px;
    position: relative;
    left: -10px;
}
.header_main-images {
    width: 450px;
}
.header_main_images-top {
    width: 250px;
}
 }


@media (max-width: 1050px) {
    .advantages-main_first {
        display: block;
    }
    .advantages-main_second {
        display: block;
        position: relative;
        top:-40px;
    }
    .advantages {
    display: block;
    margin: 0 auto;
    justify-content: center;
    }
    
    .advantages_inner {
        padding: 0 0 40px 0 ;
        max-width: 600px;
    }
    .advantages_main-items {
        display: block;
        margin: 0 auto;
        justify-content: center;
        text-align: center;
    }
    .advantages-items-img {
        width: 50px;
        margin-bottom: 20px;
    }
    .advantages_inner-title {
        margin-bottom: 20px;
    }
    .advantages_inner-text {
        text-align: center;
    }
}



@media(max-width:965px) {
    .problem_inner {
        display: block;
        padding: 0 0 40px 0;

    }
    .problem_item {
        max-width: 600px;
        margin: 0 auto;
        padding: 0 0 40px 0;
    }
    .stages_inner {
    display: block;
    text-align: center;
    }

    .span1 {
        transform: rotate(-90deg); 
    }
    .span2 {
        transform: rotate(-90deg); 
    }
    .arrow span {
        display: block;
        cursor: pointer;
        padding: 10px 50px;
    
    }
    .arrow {
       display: none;
       margin-top: -100px;

    }
    .mob {
        display: flex;
        justify-content: center;
        position: relative;
        top:150px;
    }
    .stages_photo-img {
        margin-bottom: 30px;
    }

   
    .stages {
        background: linear-gradient(to bottom right, #333333, #000000);
        border-bottom-right-radius: 280px;
        height: 100vh;
        padding: 100px 0;  
        position: relative;
        padding-bottom: 900px
    }
    .problem_item-title {
        margin-bottom: 20px;
    }
}


@media(max-width:940px) {
    .header_main-info-title {
     font-size: 34px;
    }
    .header_main-text {
     font-size: 16px;
    }
  }

  @media(max-width:800px) {
    .header {
    background: linear-gradient(to bottom right, #333333, #000000);
    border-bottom-right-radius: 280px;
    height: 100vh;
    position: relative;
    padding-bottom: 1000px


    }
    .header_main {
        display: none;
    }
    .header_main-mobile {
        display: block;
        margin-top: -100px;
    }
    .header_main-img-mobile {
        text-align: center;
    }
    .header_main-images-mobile {
        max-width: 100%;
    }
    .header_main-info-mobile {
        text-align: center;
    }
    .header_main-info-title-mobile {
    color:#fff;
    font-size: 36px;
    margin-bottom: 60px;
    }
    .header_main-text-mobile {
    color:#fff;
    font-size: 20px;
    margin-bottom: 50px;
    }
    
    
.header_main-button-mobile {
    background-color: #fff;
     max-width: 229px;
     margin: 0 auto;
     text-align: center;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 20px;
    border-radius: 50px;
    height: 64px;
    cursor: pointer;
    margin-bottom: 500px;
}

.header_main_btn-text-mobile {
    font-size: 23px;
    color:#000;
    margin-left: 5px;
}
 }

 @media(max-width:700px) {
    .footer_items {
        display: block;
        justify-content: space-between;
        align-items:center;
    }
    .footer_item-title {
        margin-bottom: 20px;
    }
}



@media(max-width:550px) {
    
    .problem_text {
        font-size: 24px;
    }
    .menu-burger {
        display: block;
    }
    
    .header_main-mobile.active {
        display: none;
    }
    .menu {
        display: none;
    }
    .menu.active {
        display: block;

    }
    .menu_list {
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .menu_list-item {
        text-align: center;
        padding: 25px 0;
    }
    .menu_list-link {
        font-size: 30px;
    }
    .header_main-info-title-mobile {
        font-size: 30px;
        margin-bottom: 30px;
    }
    .header_main-text-mobile {
        font-size: 16px;
    }
       
.header_main-button-mobile {
    background-color: #fff;
     max-width: 200px;
     margin: 0 auto;
     text-align: center;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 20px;
    border-radius: 50px;
    height: 50px;
    cursor: pointer;
}

.header_main_btn-text-mobile {
    font-size: 20px;
    color:#000;
    margin-left: 5px;
}
.header_main-btn-img-mobile {
    width: 30px;
    position: relative;
    left: -2px;
}
.header {
    height: 110vh;
    border-bottom-right-radius: 150px;

}
.stages {
    border-bottom-right-radius: 200px;
}
}

@media(max-width:500px) {
   .problem_item-img {
    width: 80px;
   }
   .problem_item-img1 {
    min-width: 100px;
   }
   .header {
    background: linear-gradient(to bottom right, #333333, #000000);
    border-bottom-right-radius: 280px;
    height: 100vh;
    position: relative;
    padding-bottom: 800px

   }
}

@media(max-width:421px) {
    .stages_photo-img {
        max-width: 100%;
    }
    .header_main-images-mobile {
        margin-bottom: 20px;
    }
    .header_main-info-title-mobile {
        font-size: 26px;
    }
    .header_main-text-mobile {
        font-size: 14px;
    }
    .header {
        height: 100vh;
        border-bottom-right-radius: 160px;
    
    }
    .header_main-mobile {
        margin-top: -150px;
    }
 }

 @media(max-width:410px) {
   .stages_info-text {
    font-size: 14px;
    margin-right: 25px;
   } 
   .line {
    display: none;
   }
 
.stages {
    background: linear-gradient(to bottom right, #333333, #000000);
    border-bottom-right-radius: 150px;
    height: 100vh;
    padding: 100px 0;  
    position: relative;
    padding-bottom: 850px
}

.header {
    background: linear-gradient(to bottom right, #333333, #000000);
    border-bottom-right-radius: 150px;
    height: 100vh;
    position: relative;
    padding-bottom: 700px

   }
 }



 @media(max-width:400px) {
   .stack-title {
    font-size: 32px;
   }
 }

@media(max-width:350px) {
   .advantages_title {
    font-size: 30px;
   }
   .pagination .dot {
    display: inline-block;
    width: 5px;
    height: 5px;
    background-color: #fff;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    align-items:center;
    transition: width 0.3s ease, height 0.3s ease; /* добавлено переход для ширины и высоты */
}

.pagination .dot.active {
    position: relative;
    top:3px;
    width: 10px;
    height: 10px;
    align-items:center;
    background-color: #fff;
}


}

@media(max-width:340px) {
    .stages_info-text {
        font-size: 12px;
       } 
 }

 @media(max-width:310px) {
    .pagination {
        margin-top:60px;
    }
 }
